<div id="calendarViewContainer" class="hidden ios-card p-4 animate-slide-up">
    <div class="flex justify-between items-center mb-2">
        <button onclick="changeMonth(-1)" class="text-blue-500 text-2xl font-bold p-2">‹</button>
        <h2 id="calendarTitle" class="font-bold text-xl capitalize"></h2>
        <button onclick="changeMonth(1)" class="text-blue-500 text-2xl font-bold p-2">›</button>
    </div>

    <div class="grid grid-cols-7 gap-1 text-center text-[10px] text-gray-400 uppercase mb-2 font-bold">
        <div>Пн</div>
        <div>Вт</div>
        <div>Ср</div>
        <div>Чт</div>
        <div>Пт</div>
        <div>Сб</div>
        <div class="text-red-400">Нд</div>
    </div>
    <div id="calendarGrid" class="calendar-grid"></div>
</div>